@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FAFAFA;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.flex-all-center {
  @apply flex flex-col items-center justify-center;
}

.col-center {
  @apply flex flex-col items-center;
}

.button {
  @apply px-[16px] py-[12px] h-[48px] bg-letter-yellow hover:bg-[#FFC700] active:bg-[#FFB800] text-white transition-all duration-75;
}
