@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


* {
  box-sizing: border-box !important;
}

html, body, #__next {
  height: 100%;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(var(--foreground-rgb));
  background: #FAFAFA;
}

.flex-all-center {
  @apply flex flex-col items-center justify-center;
}

.col-center {
  @apply flex flex-col items-center;
}

.button {
  @apply px-[16px] py-[12px] h-[48px] bg-letter-yellow hover:bg-[#FFC700] active:bg-[#FFB800] text-white transition-all duration-75;
}

.input {
  outline: none;
}

.header {
  @apply h-[62px] w-full flex rounded-2xl bg-white px-[17px] items-center;
  box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.05);
}

.dialog-dimmed {
  background: #D9D9D9;
  opacity: 0.4;
}

.dialog-panel {
  @apply min-w-[320px] px-[15px] py-[12px] rounded-[30px];
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.04);
}
